body {
  background-color: black;
}

h1 {
  font-size: 4em;
  font-weight: normal;
  margin-bottom: 0px;
  margin-top: 3em;
}

h2 {
  font-size: 1.7em;
  font-weight: normal;
  margin-top: 1.5em;
}

.login-container {
  margin: 0 auto;
  text-align: center;
  margin-top: 200px;
}